fixed-table-header($height) {
  .v-table__overflow {
    overflow-y: auto !important

    if typeof($height) == 'object' {
      for $key, $value in $height {
        @media $key {
          max-height: $value !important
        }
      }
    } else {
      max-height: $height !important
    }
  }

  .theme--light th {
    background-color: $material-light is defined ? $material-light.cards : #FFFFFF
  }
  .theme--dark th {
    background-color: $material-dark is defined ? $material-dark.cards : #424242
  }

  th {
    position: sticky
    top: 0
    z-index: 1
  }

  tr.v-datatable__progress {
    th {
      top: 55px
      height: 1px;
    }
  }
}
